/* Add only the required CSS from css/bootstrap-material-design.css in this file */
/*NOW colors for reference:
yellow: #ffb94a
orange: #ff6611
dark text: #37474f
light text: #cfd8dc */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #37474f;
    background-color: #ffb94a;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #2196F3;
    text-decoration: none;
}

#bg {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 30%;
    top: 0;
    background-color: #ff6611;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.card

/*material shadow card*/
    {
    width: 700px;
    margin: 0 auto;
    color: #37474f;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    overflow: auto;
}

#title_card

/*the card with the name and photo*/
    {
    padding: 50px;
    margin-top: 10vh;
    text-align: center;
}

#title_card #photo {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    overflow: auto;
}

#title_card #name {
    font-weight: normal;
    margin-top: 20px;
    font-size: 25px;
    color: #37474f;
}

#title_card #description {
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    margin-top: 15px;
    font-size: 17px;
    color: #37474f;
    line-height: 1.4;
}

#about_card

/*self explanatory*/
    {
    position: relative;
    padding: 15px 32px 8px 32px;
    margin-top: 22px;
}

#about_card>.tab {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title i {
    position: relative;
    left: -10px;
}

#about_card>.tab>.content {
    padding: 5px 20px 5px 20px;
    position: relative;
}

#about_card .element {
    margin-bottom: 5px;
    margin-top: 5px;
}

#about_card .element .name {
    font-family: 'Roboto', sans-serif;
    color: #37474f;
    font-size: 30px;
    margin-bottom: 3px;
}

#about_card>.tab>.title {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #ff6611;
}

#about_card .element .info {
    font-family: 'Roboto Mono', monospace;
    color: #37474f;
    font-size: 17px;
    line-height: 1.4;
}

#contact_card

/*social links*/
    {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*padding: 25px 10px 10px 180px;*/
    margin-top: 25px;
    margin-bottom: 50px;
}


#contact_card ul {
    margin-bottom: 0;
    padding: 25px;
}

hr {
    width: 60%;
    color: #E0E0E0;
    background-color: #E0E0E0;
    height: 1px;
    border: 0;
}

ul {
    display: flex;
    position: relative;
    overflow: auto;
    padding: 0;
}

ul li {
    list-style: none;
}

ul li a

/*for social buttons */
    {
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 28px;
    margin: 0 6px;
    display: block;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

ul li a .fab {
    position: relative;
    color: #37474f;
    transition: .5s;
    z-index: 3;
}

ul li a:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

ul li a:hover:before {
    top: 0;
}

ul li:nth-child(1) a:before {
    background: #3b5999;
}

ul li:nth-child(1) a:hover .fab {
    /*for Facebook buttons when hovered */
    color: #fff;
    transform: rotateY(360deg);
}

ul li:nth-child(2) a:before {
    background: #0084ff;
}

ul li:nth-child(2) a:hover .fab {
    /*for Messenger button when hovered */
    color: #fff;
    transform: rotateX(360deg);
}

ul li:nth-child(3) a:before {
    background: #e4405f;
}

ul li:nth-child(3) a:hover .fab {
    /*for Instagram button when hovered */
    color: #fff;
    transform: rotateZ(360deg);
}

ul li:nth-child(4) a:before {
    background: #55acee;
}

ul li:nth-child(4) a:hover .fab {
    /*for Twitter button when hovered */
    color: #fff;
    transform: rotateX(360deg);
}

ul li:nth-child(5) a:before {
    background: #333;
}

ul li:nth-child(5) a:hover .fab {
    /*for GitHub button when hovered */
    color: #fff;
    transform: rotateY(360deg);
}

@media (min-width: 481px) and (max-width: 960px)

/*to optimize for tablets*/
    {
    .card {
        width: 75%;
    }

    #contact_card ul {
        /*padding: 15px 20px 5px 80px;*/
        padding: 10px;
    }
}

@media (max-width: 480px)

/*to optimize for mobiles*/
    {
    .card {
        width: 90%;
    }

    #contact_card ul {
        /*padding: 15px 0px 0px 25px;*/
        padding: 10px;
    }
}

/*copy paste raw Bootstrap MD CSS is here*/