body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stying the first cover section now! */

.contentEvents
{
    margin: 20px auto;
    background-color: #ffb94a;
    border-radius: 0 0 50px 50px;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(13,1fr);
}

.contentEvents h2
{
    font-size: 75px;
    color: white;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contentEvents h4
{
    color: #37474f;
    padding: 60px;
    font-family: 'Verdana';
    line-height: 2em;
    grid-column: 1 / 6;
    grid-row: 2 / 4;
    align-self: start;
    justify-self: center;
}

.contentEvents img
{
    grid-column: 7 / 14;
    grid-row: 1 / 4;
    width: 100%;
    height: auto;
    align-self: center;
}

/* styling the main section */

.mainEventSection
{
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 34px;
    color: #37474f;
    box-sizing: border-box;
}

.slideshow,.eventCard
{
    /* width: auto; */
    margin: 10px auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-auto-rows: minmax(80px, auto);
    padding: 40px;
    margin: 40px auto;
}
/* .slideshow img
{
    width: 450px;
    height: 275px;
    position: absolute;
    top: 140%;
    left: 10%;

    border-radius: 24px;
    display: none;
    z-index: 1;
}
.slideshow .first
{
    display: inline-block;
}
.move
{
    cursor: pointer;
    font-size: 1.1em;
    position: absolute;
    top: 157%;
    z-index: 5;
}
.next
{
    left: 48%;
}
.prev
{
    left: 7%;
} */
a
{
    color: #37474f;
    text-decoration: none;
}

.eventCard h3
{
    grid-column: 5 / 10;
    grid-row: 1 / 2;
    justify-self: center;
    font-size: 2em;
}
.eventCard h5
{
    grid-column: 5 / 10;
    grid-row: 2 / 3;
    justify-self: center;
    text-align: center;
    font-size: 1.1em;
}

.eventCard h6
{
    grid-column: 5 / 10;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: end;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 0;
}
.eventCard h6::after
{
    margin-top: 5px;
    content: "";
    height: 2px;
    width: auto;
    display: block;
    background-color: #ff6611;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-out;
}
.eventCard h6:hover
{
    background-color: #00000009;
}
.eventCard h6:hover:after
{
    visibility: visible;
    transform: scaleX(1);
}

.forOthers
{
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    width: 100%;
    height: auto;
    border-radius: 24px;
    align-self: center;
    justify-self: center;
}

/* responsive here */
@media screen and (max-width:800px){
    .contentEvents h2{
        grid-column: 1 / 6;
    }
    .contentEvents h4{
        padding: 40px 30px;
    }
    .forOthers{
        grid-column: 1 / 5;
        padding-right: 10px;
    }
}
@media screen and (max-width:700px){
    .contentEvents img{
        grid-column: 6 / 14;
    }
    .contentEvents h4{
        padding: 20px 30px;
    }
    .eventCard h5{
        font-size: 1em;
    }
    .eventCard h6{
        font-size: 1.1em;
    }
    .eventCard{
        padding: 30px 10px;
    }
}
@media screen and (max-width:600px){
    .contentEvents h2{
        grid-column: 1 / 7;
    }
    .contentEvents h4{
        grid-column: 1 / 7;
    }
}
@media screen and (max-width:550px){
    .contentEvents h2{
        grid-column: 1 / 14;
    }
    .contentEvents img{
        grid-column: 2 / 13;
        grid-row: 2 / 3;
        justify-self: center;
    }
    .contentEvents h4{
        grid-column: 2 / 13;
        grid-row: 3 / 4;
        justify-self: center;
        text-align: center;
    }
    .eventCard h3{
        grid-column: 1 / 10;
    }
    .forOthers{
        grid-column: 2 / 9;
        grid-row: 2 / 4;
        padding: 0;
        justify-self: center;
    }
    .eventCard h5{
        grid-column: 2 / 9;
        grid-row: 4 / 5;
        justify-self: center;
    }
    .eventCard h6{
        grid-column: 3 / 8;
        grid-row: 5 / 6;
        justify-self: center;
    }
}