*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ProjectFront
{
    margin: 20px auto;
    background-color: #ffb94a;
    border-radius: 0 0 50px 50px;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(13,1fr);
    /* grid-auto-rows: minmax(10px,auto); */
}

#ProjectFront h2
{
    font-size: 75px;
    color: white;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#ProjectFront h4
{
    /* color: white; */
    padding: 60px;
    font-family: 'Verdana';
    line-height: 2em;
    grid-column: 1 / 6;
    grid-row: 2 / 6;
    align-self: center;
}
#ProjectFront img
{
    grid-column: 7 / 14;
    grid-row: 2 / 5;
    width: 100%;
    height: auto;
    align-self: start;
}


/* styling the main now */

.ProjectContent
{
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 34px;
    color: #37474f;
}
a
{
    text-decoration: none;
    color: #37474f;

}


.ProjectCard
{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-auto-rows: minmax(80px, auto);
    padding: 40px;
    margin: 40px auto;
}

.ProjectCard img
{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    width: 100%;
    height: auto;
    align-self: center;
}

.ProjectCard h3
{
    grid-column: 4 / 9;
    grid-row: 1 / 2;
    justify-self: center;
    font-size: 2em;
}

.ProjectCard h3::after
{
    content: "";
    height: 2px;
    width: 0;
    display: block;
    background-color: #ff6611;
    transition: 0.5s ease-out;
}
.ProjectCard h3:hover:after
{
    width: 100%;
}

.ProjectCard h5
{
    grid-column: 4 / 9;
    grid-row: 2 / 3;
    justify-self: center;
    text-align: center;
    font-size: 1.1em;
}

.ProjectCard h6
{
    grid-column: 4 / 9;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: end;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 0;
}
.ProjectCard h6::after
{
    margin-top: 5px;
    content: "";
    height: 2px;
    width: auto;
    display: block;
    background-color: #ff6611;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-out;
}
.ProjectCard h6:hover
{
    background-color: #00000009;
}
.ProjectCard h6:hover:after
{
    visibility: visible;
    transform: scaleX(1);
}

footer
{
    padding: 50px;
    font-family: 'Verdana' !important;
    color: #181f22;
}

#cheesy-oner
{
    font-size: 2.12em !important;
    padding-bottom: 20px;
    margin-left: 25px;
}

#typewriter
{
    text-align: left;
    background-color: #ffb94a;
    padding: 20px 10px;
    max-width: 500px;
    overflow: hidden; 
    border-right: 0.15em solid #181f22; 
    white-space: nowrap;
    /* margin: 0 auto;  */
    letter-spacing: .15em;
    animation: 
        type 7s steps(100, start) infinite,
        blink-now .75s step-end infinite;
    font-size: 1.5em;
    /* border-radius: 26px; */
    margin-left: 80px;
}

@keyframes type
{
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-now
{
    0%{ border-color: transparent ;}
    50% { border-color: #181f22; }
    100% { border-color: transparent; }
}

.socialIcons
{
    list-style-type: none;
    text-align: right;
    /* max-width: 500px; */
    width: auto;
    margin-right: 150px;
}

.socialIcons li
{
    display: inline-block;
    white-space: nowrap;
    transform: scale(2);
    padding: 0 30px;
    text-align: center;
}

.socialIcons li a
{
    color: #181f22;
    text-align: center;
    padding: 3px 4.66px;
    border-radius: 1000px;
}

.socialIcons li:nth-of-type(2) a
{
    padding: 2px 4.66px;
}
.socialIcons li:nth-of-type(4) a
{
    padding: 2px 4.66px;
}

.socialIcons li:nth-of-type(1) a
{
    padding: 3px 7.1px;
}

.socialIcons li a:hover
{
    color: white !important;
    
}
.socialIcons li:nth-of-type(1) a
{
    background: linear-gradient(to top, #3b5998 50%, transparent 50%);
    background-size: 100% 210%;
    background-position: top;
    transition: background-position 0.3s ease-in;
}
.socialIcons li:nth-of-type(1) a:hover
{
    background-position: bottom;
}

.socialIcons li:nth-of-type(2) a
{
    background: linear-gradient(to top, #c32aa3 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.3s ease-in;
}
.socialIcons li:nth-of-type(2) a:hover
{
    background-position: bottom;
}

.socialIcons li:nth-of-type(3) a
{
    background: linear-gradient(to top, #1da1f2 50%, transparent 50%);
    background-size: 100% 210%;
    background-position: top;
    transition: background-position 0.3s ease-in;
}
.socialIcons li:nth-of-type(3) a:hover
{
    background-position: bottom;
}

.socialIcons li:nth-of-type(4) a
{
    background: linear-gradient(to top, #25d366 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.3s ease-in;
}
.socialIcons li:nth-of-type(4) a:hover
{
    background-position: bottom;
}

.socialIcons li:nth-of-type(5) a
{
    background: linear-gradient(to top, #333 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.3s ease-in;
}
.socialIcons li:nth-of-type(5) a:hover
{
    background-position: bottom;
}




/* animation to social icons */
.socialIcons li .peekaboo
{
    animation: rotateAround 0.4s ease-out forwards;
}
.socialIcons li .unpeekaboo
{
    animation: rotateOtherWay 0.4s ease-out forwards;
}


@keyframes rotateAround
{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

@keyframes rotateOtherWay
{
    from{
        transform: rotateY(0deg);
    }
    to
    {
        transform: rotateY(-360deg);
    }
}

.socialIcons li .turn
{
    animation: vroom 0.4s ease-in forwards;
}
.socialIcons li .deturn
{
    animation: devroom 0.4s ease-in forwards;
}

@keyframes vroom
{
    from{
        transform: rotateZ(0deg);
    }
    to
    {
        transform: rotateZ(360deg);
    }
}

@keyframes devroom
{
    from{
        transform: rotateZ(0deg);
    }
    to
    {
        transform: rotateZ(-360deg);
    }
}

.copyright
{
    text-align: center;
    padding: 20px;
    margin: 30px auto;
    font-weight: lighter;
}

.privacyDiv
{
    text-align: center;
}

.privacy
{
    text-decoration: none;
    color: inherit;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    padding-bottom: 0;

    transition: all 0.3s ease-in-out;
}

.privacy::after
{
    content: "";
    width: auto;
    height: 2px;
    display: block;
    background-color: #ff6611;
    visibility: hidden;
    transform: scaleX(0);
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}

.privacy:hover:after
{
    visibility: visible;
    transform: scaleX(1);
}

.privacy:hover
{
    background-color: #00000009;
}