html,body{
	height: 100%;
	width: 100%;
}

.navbar{
	background-color: #ffb949;
	padding: 1% 0;
	font-size: 1.2em;
}

.icon-bar{
	color: #000;
	background-color: #FFF;
}

.navbar-brand{
	min-height: 55px;
	padding: 0 15px 5px;
}

.nav > li > a {
	color: #F0FFF0;
}

.nav > li > a:hover, .nav > li > a.active{
	color: #FFF;
}

#event{
	/*background: url('logo.png') no-repeat center center fixed;*/
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
}

.padding{
	padding: 80px 0;
}

#div1{
	height: 100%;
	width: 100%;
}

