body{
	font-family: 'Playfair Display';
	padding: 50 px;
	background-color: #ffb949;
}
.now {
    font-size: 28px;
    padding-top:20px;
  
}
.network, .openweb {
    line-height: 0px;
    font-family: 'Playfair Display';
    letter-spacing: 5px;

}
.forthe {
    line-height: 10px;
    font-family: 'Playfair Display';
  
}
.social {
    padding-top: 50px;
}
.social p {
    font-family: 'Roboto';
    letter-spacing: 2px;
}
ul {
	padding-left: 0px;
}
li {
    list-style-type: none;
    display: inline;
	padding: 10px;
    font-size: 28px;
}
a {
    color: #e0e0e0;
}
.fa-facebook-f:hover {
    color: #3b5998;
}
.fa-facebook-messenger:hover {
    color: #3b5998;
}
.fa-instagram:hover {
    color: #d6249f
}
.fa-twitter:hover {
    color: #55acee;
}
.fa-github:hover {
    color: #767676;
}
.fa-envelope:hover{
    color: #ff0000;
}
.fa-users:hover {
    color: #90EE90;
}
h2
{
    text-align: center;
}
p
{
    text-align: center;
}